/* ---------------------------- Media Queries ---------------------------- */

@media (max-width: 990px) {

    .navbar-nav {
        flex-flow: row wrap;
        justify-content: space-around;
        padding-bottom: 1rem;
    }

    .formContainer {
        justify-content: initial;
        margin-bottom: 3rem;

        .secondaryTitle {
            margin-bottom: 1.5rem;
        }

        .label {
            text-align: center;
        }

        input:not(.button),
        textarea {
            width: 75%;
        }
    }

}

@media (max-width: 600px) {

    .nav-item {
        margin-bottom: 1rem;
    }

}

@media (max-width: 375px) {

    .serviceSection {

        &:first-child {
            margin-bottom: 3rem;
        }
    }

    .introButtons {
        .button {
            &:first-child {
                margin-bottom: 1.5rem;
            }
        }
    }

    .formContainer {

        input:not(.button),
        textarea {
            width: 95%;
        }
    }

    address {

        p {
            text-align: center;
        }

        .adressIcon {
            display: none;
        }
    }


    .footerRow {
        flex-direction: column-reverse;

        .footerSection {
            text-align: center;
            max-width: 100%;
            padding: 0;
            margin-bottom: 1rem;
        }
    }

}