@import "variables";
@import "typography";
@import "colors";

/* ---------------------------- Estilo a listas ---------------------------- */
.socialMedia,
.servicesList {
    list-style: none;
}

/* ---------------------------- Algunas propiedades en común ---------------------------- */
.button,
#contactBtn {
    border-radius: 2rem;
}

.button,
.socialMedia,
.projectCaption {
    height: 4rem;
}

.button,
.socialMedia li {
    line-height: 4rem;
}

/* ---------------------------- Elementos Genericos ---------------------------- */

main {
    @include displayGrid(1, 1fr, $section-height, true);
    min-height: 100vh;
    padding-top: $section-height;
    padding-bottom: $section-height;
    align-items: center;
}

.grid {
    @include displayGrid(auto-fit, minmax($grid-item-width, 1fr), $grid-row-gap, true);
    grid-auto-rows: $grid-row-height;
}

.itemGrid {
    width: $grid-item-width;
}

.button {
    width: 16rem;
    padding: 0 1rem;
}

img {
    object-fit: cover;
}

/* ---------------------------- Menu ---------------------------- */

.navbar {
    min-height: $menu-height;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    margin: 0;

    img {
        width: 8rem;
        height: $menu-height;
    }
}

.nav-item {
    width: 15rem;
}

/* --------------------------- Servicios ------------------------------*/
.serviceSection {
    height: $grid-row-height;
    justify-content: space-evenly;
}

/* ---------------------------- Proyectos ---------------------------- */
.project {
    border: 0.101rem solid $border-color;
}

.projectCaption {
    bottom: 0;

    .contentTitle {
        margin-bottom: 0;
    }

    .button,
    .projectDescription {
        display: none;
    }
}


/* ---------------------------- Blog ---------------------------- */
.post {
    align-items: center;
    justify-content: space-between;
}

.postContent {
    text-align: justify;
    padding: 0 1rem;
}

.postImage {
    order: -1;
}

/* ---------------------------- Formulario ---------------------------- */
.formContainer,
.mapContainer {
    min-height: 50rem;
    justify-content: space-evenly;
}

.formContainer {
    input {
        border: 0.101rem solid $main-color;

        &:not(.button) {
            height: 4.5rem;
        }

    }

    textarea {
        height: 19rem;
        border: 0.101rem solid $main-color;
        resize: none;
    }

    label {
        text-align: left;
    }

    .secondaryTitle {
        margin-bottom: 0;
    }
}

.mapContainer {

    iframe {
        height: 40rem;
        border: none;
    }

    address {
        min-height: 5rem;
    }
}

/* ---------------------------- Footer ---------------------------- */
.footerRow {
    min-height: $section-height;
}


.socialMedia {
    width: 12rem;
    justify-content: space-around;

    li {
        width: 4rem;
    }
}

@import "animations";
@import "mediaquerys";